<div class="container-xxl my-4">
  <div class="row">
    <div class="col-7">
      <h1 class="mb-4" i18n>Suzuki Fasteners Registry</h1>
    </div>
    <div class="col-5 text-end">
      <p>
        <a href="https://autowp.github.io/suzuki-fasteners/en/">
          <img alt="" src="https://purecatamphetamine.github.io/country-flag-icons/3x2/GB.svg" class="flag"/>
          English
        </a>
        <a href="https://autowp.github.io/suzuki-fasteners/ru/">
          <img alt="" src="https://purecatamphetamine.github.io/country-flag-icons/3x2/RU.svg" class="flag"/>
          Русский
        </a>
      </p>
      <p>
        <i class="bi bi-github me-1"></i>
        <a href="https://github.com/autowp/suzuki-fasteners/blob/main/src/app/data.ts" i18n>Add new item to database</a>
        <ng-container i18n> or </ng-container>
        <i class="bi bi-github me-1"></i>
        <a href="https://github.com/autowp/suzuki-fasteners/issues/new" i18n>open issue</a>
      </p>
    </div>
  </div>

  <form class="mb-3">
    <input type="search" class="form-control" [formControl]="searchControl" placeholder="Search by P/N" i18n-placeholder>
  </form>

  @if (data$|async; as data) {
    @if (data.items.length > 0) {
      <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
          <th>
            <a [routerLink]="[]" [queryParams]="{sort: data.sort === 'code_asc' ? 'code_desc' : 'code_asc'}">
              @if (data.sort === 'code_asc') {
                <i class="bi bi-sort-alpha-down"></i>
              } @else if (data.sort === 'code_desc') {
                <i class="bi bi-sort-alpha-up-alt"></i>
              }
              <ng-container i18n>Code</ng-container>
            </a>
          </th>
          <th><ng-container i18n>Replacement codes</ng-container></th>
          <th>
            <a [routerLink]="[]" [queryParams]="{sort: data.sort === 'type_asc' ? 'type_desc' : 'type_asc'}">
              @if (data.sort === 'type_asc') {
                <i class="bi bi-sort-alpha-down"></i>
              } @else if (data.sort === 'type_desc') {
                <i class="bi bi-sort-alpha-up-alt"></i>
              }
              <ng-container i18n>Type</ng-container>
            </a>
          </th>
          <th>
            <a [routerLink]="[]" [queryParams]="{sort: data.sort === 'thread_size_asc' ? 'thread_size_desc' : 'thread_size_asc'}">
              @if (data.sort === 'thread_size_asc') {
                <i class="bi bi-sort-alpha-down"></i>
              } @else if (data.sort === 'thread_size_desc') {
                <i class="bi bi-sort-alpha-up-alt"></i>
              }
              <ng-container i18n>Thread</ng-container>
            </a>
          </th>
          <th>
            <a [routerLink]="[]" [queryParams]="{sort: data.sort === 'length_asc' ? 'length_desc' : 'length_asc'}">
              @if (data.sort === 'length_asc') {
                <i class="bi bi-sort-numeric-down"></i>
              } @else if (data.sort === 'length_desc') {
                <i class="bi bi-sort-numeric-up-alt"></i>
              }
              <ng-container i18n>Length</ng-container>
            </a>
          </th>
          <th>
            <a [routerLink]="[]" [queryParams]="{sort: data.sort === 'key_size_asc' ? 'key_size_desc' : 'key_size_asc'}">
              @if (data.sort === 'key_size_asc') {
                <i class="bi bi-sort-numeric-down"></i>
              } @else if (data.sort === 'key_size_desc') {
                <i class="bi bi-sort-numeric-up-alt"></i>
              }
              <ng-container i18n>Key Size</ng-container>
            </a>
          </th>
          <th>
            <a [routerLink]="[]" [queryParams]="{sort: data.sort === 'screwdriver_asc' ? 'screwdriver_desc' : 'screwdriver_asc'}">
              @if (data.sort === 'screwdriver_asc') {
                <i class="bi bi-sort-numeric-down"></i>
              } @else if (data.sort === 'screwdriver_desc') {
                <i class="bi bi-sort-numeric-up-alt"></i>
              }
              <ng-container i18n>Screwdriver</ng-container>
            </a>
          </th>
          <th>
            <a [routerLink]="[]" [queryParams]="{sort: data.sort === 'color_asc' ? 'color_desc' : 'color_asc'}">
              @if (data.sort === 'color_asc') {
                <i class="bi bi-sort-alpha-down"></i>
              } @else if (data.sort === 'color_desc') {
                <i class="bi bi-sort-alpha-up-alt"></i>
              }
              <ng-container i18n>Color</ng-container>
            </a>
          </th>
          <th><ng-container i18n>Photo</ng-container></th>
        </tr>
        </thead>
        <tbody>
          @for (item of data.items; track item.code) {
            <tr>
              <td><code>{{ item.code }}</code></td>
              <td>
                @for (replacement of item.replacements; track replacement) {
                  <div><code>{{ replacement }}</code></div>
                }
              </td>
              <td>
                @if (item.type) {
                  {{ fastenerTypeName[item.type] }}
                }
                @if (item.standard) {
                  <div>{{item.standard}}</div>
                }
              </td>
              <td>
                @if (item.threadPitch) {
                  {{item.threadSize}}×{{item.threadPitch | number:'1.2-2'}}
                } @else {
                  {{item.threadSize}}
                }
              </td>
              <td>
                @if (item.length) {
                  {{item.length}} mm
                }
              </td>
              <td>
                @if (item.keySize) {
                  {{item.keySize}} mm
                }
              </td>
              <td>{{item.screwdriver}}</td>
              <td>{{item.color}}</td>
              <td>
                @if (item.photo) {
                  <a [href]="'photo/' + item.photo"><img alt="" [src]="'photo/' + item.photo" /></a>
                }
              </td>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <div class="py-5 text-center mb-5">
        <h1 i18n>Nothing found</h1>
      </div>
    }
  }

  <div class="decryption" style="min-height: 600px">
    <div>
      <div class="segment">
        <code>015</code>
        <div class="info">
          011 - hexagon bolt<br />
          012 - crown head bolt<br />
          013 - pointed hexagon bolt<br />
          015 - ???<br />
          09X - special
        </div>
      </div>
      <div class="segment">
        <code>5</code>
        <div class="info">
          head size<br />
          1 - regular<br />
          2 - small<br />
          5 - ???
        </div>
      </div>
      <div class="segment">
        <code>0</code>
        <div class="info">
          material<br />
          1 - semi-mild steel<br />
          2 - hard steel
        </div>
      </div>
      <div class="segment">
        <code>-</code>
      </div>
      <div class="segment">
        <code>06</code>
        <div class="info">
          <ng-container i18n>thread size</ng-container><br />
          06 - M6<br />
          08 - M8<br />
          10 - M10<br />
        </div>
      </div>
      <div class="segment">
        <code>12</code>
        <div class="info">
          <ng-container i18n>length</ng-container><br />
          03 - 100 mm<br />
          12 - 12 mm<br />
          13 - 16 mm<br />
          30 - 30 mm<br />
          35 - 35 mm<br />
        </div>
      </div>
      <div class="segment">
        <code>3</code>
        <div class="info">
          <ng-container i18n>color/finnish</ng-container><br />
          1 - zink<br />
          2 - chrome<br />
          3 - cadmium<br />
          5 - unknown<br />
          6 - unknown<br />
          7 - unknown<br />
          A - silver/yellow<br />
          B - black<br />
        </div>
      </div>
    </div>
  </div>

  <p>
    <i class="bi bi-github me-1"></i>
    <a href="https://github.com/autowp/suzuki-fasteners/blob/main/src/app/data.ts" i18n>Add new item to database</a>
    <ng-container i18n> or </ng-container>
    <i class="bi bi-github me-1"></i>
    <a href="https://github.com/autowp/suzuki-fasteners/issues/new" i18n>open issue</a>
  </p>
</div>
